@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/grass_wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    font-family: "Chakra Petch", sans-serif;
    font-size: 0.8em;
}

::-webkit-scrollbar {
    width: 0;
}

#pokedex {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

#pokedex h1 {
    text-align: center;
    margin-bottom: -1.5vw;
    font-size: 5vmax;
    color: #FFCC00;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 0.2em;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #0075BE;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}

.recherche input {
    width: 20vw;
    margin-bottom: 3vw;
    padding: 2%;
    background: linear-gradient(#ad0505, #eb6b6b);
    border: 2px solid #FFCC00;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

#go-to-page {
    padding: 5%;
    background: linear-gradient(#ad0505, #eb6b6b);
    border: 2px solid #FFCC00;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    cursor: pointer;
    color: #FFCC00;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 5%;
}

.recherche input::placeholder {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Chakra Petch", sans-serif;
    font-size: 0.8em;
}

#pagination {
    margin-top: -1vw;
    margin-bottom: 2vw;
    position: fixed;
    gap: 10px;
    top: 6vw;
    left: 6vw;
    gap: 10px;
}

#pagination input {
    width: 4em;
    background-color: rgba(0,0,0,0);
    border-color: #ad0505;
}

#type-filter {
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #FFCC00;
    background: rgba(0,0,0,0.2);
    cursor: pointer;
    position: fixed;
    top: 15vw;
    left: 5vw;
    font-family: "Chakra Petch", sans-serif;
    font-size: 1em;
}

#type-filter:hover {
    border-color: #eb6b6b;
}

/* CSS de la partie du Pokemon */

.pokemon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px; /* Espace entre les cartes Pokémon */
    width: 60vw;
    margin-bottom: 15%;
}

.pokemon-block-list {
    margin: 0 3%;
}

.pokemon-card {
    width: calc(33.33% - 20px); /* 5 cartes par ligne, avec un peu d'espace entre elles */
    min-width: 200px; /* Augmenté pour donner plus d'espace à chaque carte */
    max-width: 300px; /* Limite la taille maximale pour les grands écrans */
    height: 320px;
    border: 6px inset #FFCC00;
    background-image: url(./images/21353.jpg);
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 0.4s ease-in-out;
}

.pokemon-card:hover {
    transition: 0.4s ease-in-out;
    transform: scale3d(1.2, 1.2, 1.2);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    z-index: 5;
}

.pokemon-card h2 {
    font-size: 1em;
    margin-top: 0;
}

.pokemon-card p {
    margin: 5px 0;
    font-size: 0.9em;
}

button#prev-page, button#next-page {
    background-color: hsla(146, 55%, 42%, 0);
    border: none;
    color: #333;
    cursor: pointer;
}

#prev-page, #next-page {
    position: fixed;
    top: 30vw;
}

#prev-page {
    left: 15vw;
}

#next-page {
    right: 15vw
}

.pokemon-level {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

p.pokemon-number {
    font-family: "Chakra Petch", sans-serif;
    background: linear-gradient(#FFCC00, #ffe88c83, #FFCC00);
    padding: 0.4vw;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: left;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #886d00;
    border: 2px solid #FFCC00;
    float: left;
    font-size: 0.9em;
    position: absolute;
    margin-top: -1vw;
    margin-left: -1vw;
}

.pokemon-level > .pokemon-name {
    margin-top: 1.5vw;
}

.pokemon-name {
    font-size: 2em;
    color: #333;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 0.3em;
    font-weight: 100;
}

p.pokemon-hp {
    font-size: 0.6em;
    text-transform: uppercase;
    margin-top: 1.3vw;
}

p.pokemon-hp strong {
    font-size: 1.9em;
}

.pokemon-image {
    width: 100px;
    height: 100px;
}

.pokemon-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1em;
    font-family: "Chakra Petch", sans-serif;
}

.pokemon-types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    align-items: center;
    font-size: 0.6em;
}

.pokemon-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 7vw;
}

.pokemon-speed {
    position: absolute;
    padding-top: 8vw;
    padding-left: 6vw;
    color: #ad0505;
    font-family: 'Pokemon Solid', sans-serif;
    letter-spacing: 0.3em;
}

@media only screen and (max-width: 800px) {
    .recherche input {
        width: 25vw;
    }
    
}

@media only screen and (max-width: 650px) {
    #type-filter {
        width: 2em;
        top: 25vw;
        font-size: 0.8em;
    }
    
}

@media only screen and (max-width: 600px) {
    .pokemon-speed {
        padding-top: 15vw;
    }

    .recherche input {
        width: 35vw;
    }
    
}

@media only screen and (max-width: 380px) {

    #pagination {
        display: none;
    }

    #type-filter {
        width: 2em;
        top: 5vw;
        font-size: 0.8em;
    }

    #pokemon-list {
        margin-left: -15vw;
    }

    .recherche input {
        width: 55vw;
    }
    

    .pokemon-speed {
        padding-top: 25vw;
    }
}